*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/vcs.xml
/.idea/gradle.xml
/.idea/dictionaries
/.idea/inspectionProfiles
/.idea/markdown-navigator.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/migrations.xml
/.idea/deploymentTargetSelector.xml
/.idea/compiler.xml
/.idea/AndroidProjectSystem.xml
/.idea/.name
/.idea/.gitignore